*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-text{
    font-size: 8pt;
}
.card-text span{
    font-size: 8pt;
    font-weight: 700;
}
.card{
    width: 18rem;
    height: 250px;
    border: 0;
}
#photo-container{
    width: 100%;
}

.search-box{
    background-image: url(assets/cover.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box p{
    font-size: 20pt;
    font-weight: 700;
    color: white;
}

.search-box button{
    font-weight: 700;
    color: black;
    background-color: antiquewhite;
}

#logo{
    height: 50px;
}