*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-text{
    font-size: 8pt;
}
.card-text span{
    font-size: 8pt;
    font-weight: 700;
}
.card{
    width: 18rem;
    height: 250px;
    border: 0;
}
#photo-container{
    width: 100%;
}